<div class="demo-blog demo-blog--blogpost mdl-layout mdl-js-layout has-drawer is-upgraded">
  <main class="mdl-layout__content">
    <div class="row">    
      <div class="demo-blog__posts mdl-grid">
      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect mdl-cell--12-col">
        <div class="mdl-tabs__tab-bar tab-align">
            <a href="#received-panel" class="mdl-tabs__tab is-active mdl-color-text--grey-400"> My Inbox</a>
            <a href="#sent-panel" class="mdl-tabs__tab mdl-color-text--grey-400">Sent Messages</a>
        </div>

        <div class="mdl-tabs__panel is-active" id="received-panel">
          <%= render 'shared/received_messages' %>
        </div>

        <div class="mdl-tabs__panel" id="sent-panel">
          <%= render 'shared/sent_messages' %>
        </div>

      </div>  
    </div>
  </main>
</div>


