<% @messages.each do |message| %>
  <div class="col-xs-12">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
      <div class="mdl-card__media mdl-color-text--grey-50">
         <p>From: <%= message.sender.name %></p>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <%= message.content %>
      </div>
      <div class="mdl-card__actions mdl-card--border">
      <span><p>Sent: <%= message.created_at.strftime("%A, %d %b %Y") %></p></span>
        <span>
        	<%= link_to new_user_message_path(message.sender), class: "mdl-button mdl-js-button mdl-button--icon mdl-button--colored" do %>
    				<i class="material-icons">reply</i>
    			<% end %>  
    		</span>
      </div>
    </div>
  </div>
<% end%>